DATABASE_URL=postgresql://seth:NklCkJrvLIgWCFhubAUp22kfnjz1AbyF@dpg-csq4k52j1k6c738d6e50-a.frankfurt-postgres.render.com/medrin_jobs_g7ic
PORT=5000
JWT_SECRET=E/JQXhprMphS3+9SIt7yk9cBDbfjiGj7DE1yTdWu7so=
NODE_ENV=development
GOOGLE_CLIENT_ID=1500341555-ilbvmsubauok19qvpo250g8cnsjbqn2a.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK=http://localhost:5000
